/* POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* MUKTA */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700&display=swap");
/* CABIN */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap");

/*! must before all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif;
  font-family: "Mukta", sans-serif; */
  /* font-family: "Cabin", sans-serif; */
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  color: #001833;
}

/*? always use this  */
/* img {
  max-width: 100%;
} */
/*! must before all ends here*/

/*! container styling */

.container {
  padding: 0 1rem;
}

.container_center {
  max-width: 900px;
  margin: 2rem auto;
}

/*! container styling end here */

/*? logo */
.logo {
  font-size: 2.5rem;
  /* margin-top: 1rem; */
}
/*? logo ends here */

/* displayed none coz afterwards here burger will be added*/

ul {
  display: none;
}

/*  main title /main heading */
.heading {
  font-size: 2.625rem;
  text-transform: uppercase;
  line-height: 2.7rem;
  margin-bottom: 1rem;
}

/*  title */
.heading_sub--heading {
  font-size: 1.5625rem;
  margin-bottom: 1.5rem;
}

/* subtitle */
.heading_sub--heading_subtitle {
  font-size: 18px;
}

/*  main title  */

/* button / links */
.cta {
  padding: 0.5rem;
  width: 10rem;
  border-radius: 5px;
  border: none;
  background: #68e1fd;
  text-transform: uppercase;
}

.cta:hover {
  background: #65d8f1;
  transition: 0.5s;
}

/* button */

/* "HER0" means the main img of person  */

.hero img {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

/** responsive box with GRID  */

.main__2 {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.main_container {
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

/** responsive box with FLEX  */

/* .main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.main_container {
  background: #68e1fd;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
}

@media screen and (min-width: 30rem) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main_container {
    max-width: 48%;
  }
}

@media screen and (min-width: 50rem) {
  .main_container {
    max-width: 23%;
  }
} */

/* using min-hight is very good practive */

/* img {
  max-width: 100%;
} */
