/* POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/*! must before all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

/* home page starts here */

/* logo */

.logo {
  font-size: 2rem;
  margin-top: 1rem;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* heading afte the logo */
.heading {
  margin-top: 3rem;
}

/* svg/img  */
header div img {
  width: 100%;
  max-width: 700px;
  margin-top: 3rem;
}

/* home section ends here */
/* about section starts here */

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* image of the developer  */
.hero {
  margin: 0 auto;
}
.hero img {
  margin-bottom: 0.5rem;
}

/* information about developer */
.my-info__detail {
  padding: 1rem;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(104, 225, 253)
  );
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* about section ends here */

/* project section starts here */
main {
  height: 100vh;
}

main .main__1 {
  margin: 2rem 0;
  text-align: center;
}

/* react 5 projects container  */
.main_container {
  background-image: url(img/pexels-jopwell-2422290.jpg);
  transition: 0.3s;
  transition: transform 0.2s;
}

.main_container:hover {
  background: #0ed0fb;
  transform: scale(1.1);
}

.main_container .project_description {
  opacity: 0;
}

.main_container .project_description:hover {
  opacity: 1;
}

.main_container p {
  margin-bottom: 1rem;
}

/* call to action button */
main .cta {
  color: cornsilk;
  border: 3px solid #7510f7;
}

main .cta:hover {
  background: #7510f7;
}

/* project section ends here */

/* skills section starts here  */
section .skills {
  height: 100vh;
}
.skills {
  text-align: center;
}
.skills p {
  margin-bottom: 2rem;
}

.skills .svg {
  margin-bottom: 2rem;
}
.skills img {
  width: 5rem;
}

.figma img {
  width: 4rem;
}

/* skills section ends here  */

/* form  section starts here  */
.form {
  margin-bottom: 5rem;
}
.form h1 {
  text-align: center;
}

.form .input input {
  padding: 0.7rem 0 1rem 0.7rem;
  width: 99%;
  border: 1px solid silver;
  margin-bottom: 1rem;
}

.form textarea {
  display: block;
  width: 99%;
  padding: 1rem 0 4rem 0.7rem;
  border: 1px solid silver;
}

.form .cta {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  /* padding: 0.5rem 22rem; */
}
.footer {
  text-align: center;
  background: #0ed0fb;
  margin: 0;
  padding: 4rem;
}
.footer img {
  width: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
/* form  section ends here  */
