/* POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* font for logo */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap");

/*! must before all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #f5faff;
}

/* home page starts here */

/* cool line in the top after scrolling */

.scrolling {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #0ed0fb;
}

/* logo */

/* navbar */

.navbar {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: black; */
}

.navbar button {
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
}

/* .logo {
  font-family: "Rubik", sans-serif;
} */

ul {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

/* .navbar h1,
.navbar a,
.navbar div {
  color: #0071f2;
} */

ul a:hover {
  color: #0ed0fb;
  transition: color 50ms;
}

/* navbar ends here */

header {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

/* svg/img  */
header div img {
  width: 100%;
  max-width: 700px;
  margin-top: 3rem;
}

/* home section ends here */
/* about section starts here */

.about {
  margin-bottom: 10rem;
}

/* image of the developer  */

/* information about developer */
.my-info__detail {
  padding: 1rem;
  gap: 2rem;
  background-image: linear-gradient(
    to right bottom,
    #00c7ff,
    #00b4ff,
    #00a0ff,
    #008afc,
    #0071f2
  );
  border-radius: 10px;
}

/* about section ends here */

/* project section starts here */

main .main__1 {
  margin: 2rem 0;
  text-align: center;
}

/* react 5 projects container  */
.main_container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  transition: transform 0.2s;
  cursor: pointer;
}

.dice__game {
  background-image: url(img/dice.png);
}

.restaurant__web {
  background-image: url(img/restaurant.png);
}

.javascript__pro {
  background-image: url(img/shotsnapp-1621769290.929.png);
}

.mininontalk {
  background-image: url(img/banana.png);
}

.valyrianSpeak {
  background-image: url(img/valyrian.png);
}

.stopwatch {
  background-image: url(img/stopwatch.png);
}

.recomendation {
  background-image: url(/img/recomendations.png);
}

.first__react {
  background-image: url(/img/logo512.png);
  background-size: contain;
}

.My__Todo {
  background-image: url(/img/realTodo.png);
  /* background-size: contain; */
}

.typemaster {
  background-image: url(/img/typemaster.png);
}

.cli {
  background-image: url(/img/logo-javascript.svg);
}

.MyBlog {
  background-image: url(/img/Myblog.png);
}

.main_container:hover {
  background: #0ed0fb;
  transform: scale(1.1);
}

.main_container .project_description {
  opacity: 0;
}

.main_container .project_description:hover {
  opacity: 1;
}

.main_container p {
  margin-bottom: 1rem;
}

/* call to action button */
main .cta {
  color: cornsilk;
  background: #001833;
}

main .cta:hover {
  color: #001833;
  border: 3px solid #001833;
  background: #0ed0fb;
}

/* project section ends here */

/* skills section starts here  */

.skills {
  text-align: center;
  margin-top: 10rem;
}
.skills .heading_sub--heading_subtitle {
  margin-bottom: 2rem;
}

.skills .svg {
  margin-bottom: 1rem;
}
.skills img {
  width: 5rem;
}

.figma img {
  width: 4rem;
}

.skill__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill__box {
  padding: 1rem;
}

/* skills section ends here  */

/* form  section starts here  */

.form {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.form h1 {
  text-align: center;
}

.form .input input,
.form textarea {
  border: 1px solid #001833;
}

.form .input input {
  padding: 0.7rem 0 1rem 0.7rem;
  width: 99%;
  margin-bottom: 1rem;
}

.form textarea {
  display: block;
  width: 99%;
  padding: 1rem 0 4rem 0.7rem;
  resize: vertical;
  max-height: 200px;
}

.form .cta {
  margin-top: 1rem;
}

.form,
.form .input input,
.form textarea,
.form .cta {
  border-radius: 5px;
}

::-webkit-input-placeholder {
  color: #001833;
}

.footer {
  text-align: center;
  background-image: url(img/wave.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 4rem;
}
.footer img {
  width: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
/* form  section ends here  */

@media (min-width: 510px) {
  /* logo */

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  /*  main title /main heading */
  .heading {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }

  /*  title */
  .heading_sub--heading {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  /* subtitle */
  .heading_sub--heading_subtitle {
    font-size: 20px;
  }

  /*  main title  */

  .main-svg {
    width: 60%;
    max-width: 600px;
  }

  .hero {
    margin: 0 auto;
  }

  .hero img {
    margin-bottom: 0;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 700px) {
  /* form  section starts here  */

  .form {
    max-width: 50%;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  /* form  section ends here  */
}
